.App {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.calculator {
  font-family: "Open Sans", sans-serif;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.display {
  background: #202020;
  color: white;
  padding-right: 10px;
  font-weight: 100;
  font-size: 4em;
  line-height: 90px;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  flex: 1 100%;
  border: 1px solid black;
}

.buttons {
  line-height: 60px;
  font-size: 1.25em;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
}

.button {
  background: #d0d2d4;
  color: black;
  display: flex;
  justify-content: center;
  flex: 0 1 25%;
}

.button.top {
  background: #c5c7c8;
}
.button.right {
  background: #f98810;
  color: white;
}

.button.classic.zero {
  flex: 2;
}
